/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #dfb7b7;
    padding: 20px;

}
body{ 
    background: #7ee8e9;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #3c07ea;
    padding: 5px 10px;
    background-color: #7ee8e9;
    border-radius: 15px;
    transition: background-color 0.3s;
}


nav a:hover {
    background-color: #aca0d9;

}
hr {
    border: 0;
    height: 1px;
    background-color: #aaa8a8;
    margin: 20px 0;
}

h1, h2 {
    color: #291d80;
}

img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    border: lightblue;
}

.timeline{
    height: 80vh;
}
li{
    list-style: none;
}
form {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgb(140, 221, 236);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #3498db;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}

footer{
    text-align: center;
    margin: 0;
    padding: 2%;
    background-color: #afb5b0;
    border-top: 4px solid #f0eaea;
}
footer p {
    padding-top: 20px;
}